'global':
  'editor':
    'fontSize': 13
    'softTabs': false
    'softWrap': true
    'tabLength': 4
    'showIndentGuide': true
    'softWrapAtPreferredLineLength': true
    'invisibles': {}
    'fontFamily': 'SourceCodePro-Light'
    'showInvisibles': true
    'autoIndentOnPaste': false
  'exception-reporting':
    'userId': 'cee58b2b-c162-287d-f0ea-91f8c84cf66e'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '0dccf79fbf434e5fb3cd1d4f98ded47a1f237bf6'
  'core':
    'themes': [
      'seti-ui'
      'seti-syntax'
    ]
