# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

#
# Emacs-style incremental search
'.platform-darwin .workspace .editor:not(.mini)':
  'ctrl-s': 'incremental-search:forward'
  'ctrl-r': 'incremental-search:backward'

'.platform-darwin .workspace .isearch .editor':
  'ctrl-s': 'incremental-search:forward'
  'ctrl-r': 'incremental-search:backward'
  'ctrl-w' : 'incremental-search:slurp'


#
# Pain in the ass way to get redo to work.
'body':
  'cmd-y': 'unset!'
  'shift-cmd-z': 'core:redo'

#
# Switch between left and right panes
'.platform-darwin':
  'cmd-k cmd-b': 'window:focus-pane-on-left'
  'cmd-k cmd-f': 'window:focus-pane-on-right'

#
# Let's try autocomplete
'.editor':
  'ctrl-space': 'unset!'
  'alt-space': 'autocomplete:toggle'
